flows (2).json
[{"id":"661ecee5.d5cd4","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"d6a70aa.71881f8","type":"function","z":"661ecee5.d5cd4","name":"PreToken","func":"global.set(\"ag\",msg.payload.ag)\nglobal.set(\"sx\",msg.payload.sx)\nglobal.set(\"bmi\",msg.payload.bmi)\nglobal.set(\"child\",msg.payload.child)\nglobal.set(\"smoke\",msg.payload.smoke)\nglobal.set(\"reg\",msg.payload.reg)\nvar apikey=\"cyXveNFwV-ufg6utx_OWBG4ZHfQTWWbgAiWxon7AV5DC\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":280,"y":320,"wires":[["1686244a.9323cc"]]},{"id":"1686244a.9323cc","type":"http request","z":"661ecee5.d5cd4","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":479,"y":308.9999952316284,"wires":[["986208aa.9ec0d8"]]},{"id":"a8cf4bb8.56f5b8","type":"debug","z":"661ecee5.d5cd4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":918.0000114440918,"y":50.99999713897705,"wires":[]},{"id":"986208aa.9ec0d8","type":"function","z":"661ecee5.d5cd4","name":"Pre Prediction","func":"var ag = global.get('ag')\nvar sx = global.get('sx')\nvar bmi = global.get('bmi')\nvar child = global.get('child')\nvar smoke = global.get('smoke')\nvar reg = global.get('reg')\nvar token=msg.payload.access_token\nvar instance_id=\"fddfb971-500b-4d4d-a5cf-ef9e3ba38d8e\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"age\", \"sex\", \"bmi\", \"children\", \"smoker\", \"region\"], \"values\": [[ag,sx,bmi,child,smoke,reg]]}]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":676.0000076293945,"y":271.9999990463257,"wires":[["5926f2d3.be2c7c"]]},{"id":"5926f2d3.be2c7c","type":"http request","z":"661ecee5.d5cd4","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://us-south.ml.cloud.ibm.com/v4/deployments/f4bcc63c-e015-4bac-865d-77562015dd77/predictions","tls":"","persist":false,"proxy":"","authType":"","x":769.5000076293945,"y":215.99999904632568,"wires":[["dc548909.048f88","a8cf4bb8.56f5b8"]]},{"id":"4a868f18.39a52","type":"ui_form","z":"661ecee5.d5cd4","name":"","label":"","group":"66edbc37.26ce14","order":1,"width":0,"height":0,"options":[{"label":"Age","value":"ag","type":"number","required":true,"rows":null},{"label":"Sex","value":"sx","type":"text","required":true,"rows":null},{"label":"BMI","value":"bmi","type":"number","required":true,"rows":null},{"label":"Children","value":"child","type":"number","required":true,"rows":null},{"label":"Smoker","value":"smoke","type":"text","required":false,"rows":null},{"label":"Region","value":"reg","type":"text","required":true,"rows":null}],"formValue":{"ag":"","sx":"","bmi":"","child":"","smoke":"","reg":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":71,"y":362.9999952316284,"wires":[["d6a70aa.71881f8"]]},{"id":"12a25802.f1b5a8","type":"ui_text","z":"661ecee5.d5cd4","group":"66edbc37.26ce14","order":2,"width":0,"height":0,"name":"","label":"Predicted Rate","format":"{{msg.payload}}","layout":"row-spread","x":827.6000366210938,"y":368.20000743865967,"wires":[]},{"id":"dc548909.048f88","type":"function","z":"661ecee5.d5cd4","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":629.6000366210938,"y":111.60000133514404,"wires":[["12a25802.f1b5a8"]]},{"id":"66edbc37.26ce14","type":"ui_group","z":"","name":"Default","tab":"3f389930.c7e646","order":1,"disp":true,"width":"6","collapse":false},{"id":"3f389930.c7e646","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]